{{> header}}
 <div class="wrapper">
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

           <!-- search form (Optional) -->
          <form class="sidebar-form">
            <input type="text" class="form-control" placeholder="Search..." id="q">
          </form>
          <!-- /.search form -->
          <ul class="stats" id="stats">
          </ul>
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
             <li class="treeview">
              <a href="#"><span>Filter By Country :</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu country-boxes" id="country-list">
              </ul>
            </li>

            <li class="treeview">
              <a href="#"><span>Filter By Entity:</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu" id="entity-list">
              </ul>
            </li>

            <li class="treeview">
              <a href="#"><span>Filter By Region:</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
              </ul>
            </li>
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
         
        </section>

        <!-- Main content -->
        <section class="content">

            <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>

            <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />

            <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

            <div id="map" style="height:1000px !important;"></div>

            <script src="/js/map-js.js"></script>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
	 
      <!-- Main Footer -->
      <footer class="main-footer">
      </footer>
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

