{{> map-header}}
 <div class="wrapper">
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

           <!-- search form (Optional) -->
          <form class="sidebar-form">
            <input type="text" class="form-control" id="search-box" placeholder="Search stakeholders"
					onkeyup="updateStats(this.value);">
          </form>
			
          <!-- /.search form -->
			<div class="stats-div">
				<ul class="stats" id="stats">
					<li>Countries :<span id="countries"></span></li>
					<li>Stakeholders :<span id="stakeholders"></span></li>
				</ul>
			</div>      
			
	        
          <ul class="sidebar-menu">
	          <li class="treeview">
		          <a  href="#clear" onclick="resetSearchBox();resetCountryFilters();resetTypeFilters();">
			          <span>Clear Filters</span>			          
		          </a>		        
	          </li>
			  
              <li class="treeview">
                  <a  href="#filterentity">
					  <span>Filter By Entity:</span> 
					  <i class="fa fa-angle-left pull-right"></i>
				  </a>
                  <ul class="treeview-menu type-boxes" id="entity-list">
                  </ul>
              </li>
			  
             <li class="treeview">
              <a href="#filtercountry">
				  <span>Filter By Country :</span> 
				  <i class="fa fa-angle-left pull-right"></i>
			  </a>
              <ul class="treeview-menu country-boxes" id="country-list">
              </ul>
            </li>
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
         
        </section>

        <!-- Main content -->
        <section class="content">

            <script src="/js/jquery.typewatch.js"></script>

            <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>

            <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />

            <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

            <div id="map" style="height:1000px"></div>

            <script src="/js/map-js.js"></script>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
	 
      <!-- Main Footer -->
      <footer class="main-footer">
      </footer>
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

