<div>

	<form action="stakeholders" method="post">
	
		Name : <input name="name" type="text"/><br><br>

    	Country : <select name="country">

		{{#each data.countries}}
		
		<option value="{{id}}">{{name}}</option>
		
		{{/each}}
		
		</select>
		
		<br><br>

        Industry : <select name="industry">

		{{#each data.industries}}

            <option value="{{id}}">{{name}}</option>

		{{/each}}

    </select>

        <br><br>

    	URL : <input name="url" type="text"/><br><br>

    	Functional Area : <input name="functional_area" type="text"/><br><br>
		
		<input type="submit" value="Submit Stakeholder"/>
	
	</form>

</div>
