<div id="sidebar" style="min-height: 100vh;">

    <div class="accordion" id="accordion">

        <h3>Filter by Country : </h3>

        <div>
        <input checked type="checkbox" name="country" id="jamaica" class="country-boxes">Jamaica<br>

        <input checked type="checkbox" name="country" id="trinidad" class="country-boxes">Trinidad & Tobago<br>

        <input checked type="checkbox" name="country" id="bahamas" class="country-boxes">Bahamas<br>

        <input checked type="checkbox" name="country" id="belize" class="country-boxes">Belize<br>

        <input checked type="checkbox" name="country" id="barbados" class="country-boxes">Barbados<br>

        <input checked type="checkbox" name="country" id="cuba" class="country-boxes">Cuba<br>

        <input checked type="checkbox" name="country" id="anguilla" class="country-boxes">Anguilla<br>

        <input checked type="checkbox" name="country" id="haiti" class="country-boxes">Haiti<br>

        <input checked type="checkbox" name="country" id="grenada" class="country-boxes">Grenada<br>

        <input checked type="checkbox" name="country" id="montserrat" class="country-boxes">Montserrat<br>

        <input checked type="checkbox" name="country" id="saintlucia" class="country-boxes">St. Lucia<br>

        <input checked type="checkbox" name="country" id="saintvincent" class="country-boxes">St. Vincent<br>

        <input checked type="checkbox" name="country" id="dominica" class="country-boxes">Dominica<br>

        <input checked type="checkbox" name="country" id="antigua" class="country-boxes">Antigua<br>

        <input checked type="checkbox" name="country" id="saintkitts" class="country-boxes">St. Kitts<br>

        <input checked type="checkbox" name="country" id="guyana" class="country-boxes">Guyana<br>

        <input checked type="checkbox" name="country" id="suriname" class="country-boxes">Suriname<br><br></div>

    </div>

    <div class="accordion" >

        <h3>Filter by Type : </h3>
        <div>
            <input checked type="checkbox" name="country" id="bankArray" class="type-boxes">Bank<br>

            <input checked type="checkbox" name="country" id="govArray" class="type-boxes">Government<br>

            <input checked type="checkbox" name="country" id="eduArray" class="type-boxes">Education<br>

            <input checked type="checkbox" name="country" id="ngoArray" class="type-boxes">NGO<br>

            <input checked type="checkbox" name="country" id="ictArray" class="type-boxes">ICT Services<br>

            <input checked type="checkbox" name="country" id="mnoArray" class="type-boxes">MNO<br>

            <input checked type="checkbox" name="country" id="mediaArray" class="type-boxes">Media & Marketing<br>

        </div>

    </div>
</div>