<div class="container">
  <section class="top-nav">
  	<div class="row top-logos">  
    <img src="/images/high-res.png" class="image-responsive" style="height:100px; width:100px;">
    <img src="/images/logos/devca.png" class="image-responsive left-img">
  </div>
  </section>  
</div>
