<div style="height:100px;">
		{{!-- <div style="width:50%;float:left;">
		<img src="/images/carib-open-data.png">
		</div> --}}
		<div style="margin-left:240px;"><img src="/images/pitch-it-logo.png" style="margin-top: 2px;"></div>
</div>

<div style="height:50px; background-color:#2EA0E6;margin-bottom:0px;">
	<div style="margin: 0 auto 0 223px; width:910px; text-align:left; padding-top:10px;height:49px;">
		<a href="#" style="font-size:18px;margin:0px 16px; padding: 13px 17px; letter-spacing:2px; color:#ffffff;"
		>ABOUT</a>
		<a href="#" style="color:#ffffff;font-size:18px;margin:0px 16px; padding: 13px 17px; letter-spacing:2px;"
		>MAP</a>
		<a href="#" style="color:#ffffff;font-size:18px;margin:0px 16px; padding: 13px 17px; letter-spacing:2px;"
		data-toggle="modal" data-target="#register">SUBMIT AN ENTRY</a>
	</div>
</div>

<div style="height:20px; background-color:#020B4F;margin-bottom:0px;"></div>
