<div class="container">
  <section class="top-nav">
  	<div class="row top-logos">  
    <a href="http://pitchitcaribbean.com/" target="_blank" alt="PitchIT Caribbean" title="PitchIT Caribbean">
		<img src="/images/high-res.png" class="image-responsive" style="height:100px; width:100px;">
	</a>
	<a href="http://developingcaribbean.org/" target="_blank" alt="Developing the Caribbean" title="Developing the Caribbean">
		<img src="/images/logos/devca.png" class="image-responsive left-img">
	</a>
  </div>
  </section>  
</div>

