body{
	font-family: 'Lato', sans-serif;
}

.top-nav{
	height: 100px;
	padding: 0px 15px 0px 15px;
	max-height: 100px;
}

.top-logos{
	width: 100%;
	margin: 0 auto;
}
.top-logos img.left-img{
	float: right;
	height:100px; 
	width:200px;
	/*margin-right:18px;*/
}

.navbar-nav {
   float: left;
   margin: 0;
   margin-left: 34%;
}

.skin-blue-light .main-header .navbar .nav>li>a {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
 }


.cta-content > h2{
	font-weight: 300;
	font-size: 37px;
}

.cta-actions{
	padding-top: 20px;
}

.col-md-6 > h4{
	font-weight: bold;
	font-size: 20px;
}

.col-md-6 > p{
	margin: 0px 0px 45px 0px;
	font-weight: 300;
	font-size: 18px;
}

.content-wrapper{
	background-color: #ffffff;
}

.call-to-action{
	background-image: url(/images/banner.png);
	background-size: cover;
	height: 475px; 
	width:100%;
}

.image-filter{
	background-color: rgba(255, 255, 255, 0.6);
	height: 475px;
	width: 100%;
}
.inner-content{
	/*background-color: rgba(255, 255, 255, 0.6);*/
	/*height: 475px;*/
	/*width:100%; */
	margin : 0 auto;
	width: 800px;
	padding-top: 60px;
}
.inner-content > h2{
	font-weight: 300;
	font-size: 48px;
	line-height: 50px;
	text-shadow: 0.5px 0.5px #CCCCCC;
}

.inner-content > p{
	font-size: 22px;
	line-height: 32px;
	font-weight: normal;
	text-shadow: 1px 0.5px #CCCCCC;
	margin-top: 20px;
	margin-bottom: 20px;
}

.inner-content > .btn{
	font-size: 22px;
	font-weight: bold;
	line-height: 22px;
	margin: 20px 0px 40px 0px;
	padding: 20px 0px 20px 0px;
	height: 65px;
	width: 400px;
}

/*.share-btns{*/
	/*background-color: red;*/
	/*margin: 40px 0px 40px 0px;*/
/*}*/

.share-container{
	margin: 40px 0px 40px 0px;
}
.share-container h4{
	font-size: 20px;
	font-weight: bold;
	float: left;
	margin-right: -20px;
}
.share-icons > a > img{
	height: 42px;
	width: 42px;
	margin: 0px 10px 0px 10px;
}

.map-desc{
	background-color: #F8F8F8;
	padding: 10px 20px 10px 20px;
	font-size: 17px;
}
.map-desc > h4.text-center{ 
	font-size: 32px;
	font-weight: bold;
}

.map-desc p{
	margin-bottom: 30px;
	line-height: 150%;
}
.map-desc p,{
	font-size: 17px;
	font-weight: 300;
	text-align: left;
}

.partners, .map-desc{
	margin-bottom: 40px;
}
.partners h4{
	font-size: 32px;
	font-weight: bold;
}

.partners > p{
	text-align: center;
	font-weight: 300;
	font-size: 19px;
}
/*.logos div{
	float: left;
}*/
.logos-bottom{
	margin-top: 20px;
	margin-bottom: 40px;
}
.logos-top{
	margin: 0 auto;
}
.logos-top img{
	height: auto;
	width: auto;
	display: block;
	max-width: 194px;
	max-height: 183px;
	float: left;
	/*margin-left: 80px;*/
}

.logos-top img:nth-child(2),
.logos-top img:nth-child(3),
.logos-top img:nth-child(4){
	margin-left: 90px;
}
.logos-top img:nth-child(1){
	margin-left: 100px;
	margin-top: 15px;
}
.logos-top img:nth-child(2){
	margin-top: 10px;
}

.logos-top img:nth-child(3){
	margin-top: 30px;
}

.logos-top img:nth-child(4){	
	margin-top: 35px;
}
/**
 * Map Page
 */

.stats{
	list-style: none;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 10px;
}

.stats > ul li{
	text-align: left;
	font-size: 16px;
	font-weight: normal;
}

ul.sidebar-menu > li.treeview > a{
	font-weight: normal;
	font-size: 16px;
	padding-left: 10px;
	background-color: #3c8dbc;
	color: #ffffff;
	margin-bottom: 5px;
}

ul.sidebar-menu > li.treeview:hover > a{
	background-color: #3c8dbc;
	color: #ffffff;
}

ul.treeview-menu > li{
	font-weight: normal;
	font-size: 16px;
	padding: 5px 0px 5px 10px;
}

.skin-blue-light .sidebar-menu>li.active>a{
	color: #ffffff;
	background-color: #3c8dbc;
}

.content{
	padding-top: 0px;
	padding-bottom: 0px;
}

#map{
	max-height:550px;
	height:550px;
	margin-left:220px;
	height:1000px
}

.creative-commons{
	margin-top: 50px;
	font-size: 11px;
	padding: 15px;
}

.creative-commons img{
	height:25px;
	width:75px;
}

.creative-commons a{
	text-decoration: underline;
	color: #008cba;
}

/* Initiative Form */

label > span{
	color:#CF000F;
	font-size: 13px;
}

.btn-wrapper{
	margin-top: 26px;
}

ul#organizer-list{
	list-style: none;
	padding-left: 0px;
}

ul#organizer-list > a{
	padding-left: 40px;
}

.clear-filter{
	margin-left: 1px; 
	margin-bottom: 10px;
	text-align:left;	
}

.organization-content {
	
	word-wrap:break-word;
	display:none;
	padding:0 !important;
	margin:0 !important;
	padding-left:15px !important;
	
}

.leaflet-popup-content {
	
	border-top:none !important;
	
}

.filterReset {

	cursor: pointer;
	
}

.region-global div {
	
	background: #5555A7;
	color: white;
	
}

.leaflet-popup {
	
	background:none !important;
	
}


.leaflet-popup-tip-container {

	background:none !important;

}

.tabs {
	width:100%;
	display:inline-block;
	border-bottom: solid #3c8dbc 3px;
	margin-top:15px !important;
}

.tab-links {

	padding:0 !important;
	margin-bottom:0 !important;
	
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
}

.tab-links a {
	padding:9px 5px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background:#f9fafc;
	font-size:15px;
	font-weight:600;
	color:#f2f2f2;
	transition:all linear 0.15s;
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#3c8dbc;
	color:#fff;
}

li.active a {
	background:#3c8dbc;
	color:#fff !important;
}

/*----- Content of Tabs -----*/
.tab-content {
	padding:15px;
	border-radius:3px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	background:#fff;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}

.active:first-child {
	
	color:white !important;
	
}

.markerPopup {

	font-size:11pt !important;
	border-bottom: 1px solid #000;
	margin:0 !important;
	padding:0 !important;
	margin-bottom:5px !important;
	
}

.plusminus {

	font-size:14pt;
	color:black;
	
}

.slideDownParagraph {

	font-weight:bold;
	margin:0 !important;
	padding:0 !important;
	padding-top:4px !important;
	
}

.blueTitle {

	color:#0078A8 !important;
	
}

#country-list {

	height:250px !important;
	overflow:hidden !important; 
	overflow-y:scroll !important;

}

.cc-image {
	
	height:27px;
	width:auto;
	padding:3px;
	
}

.footer {
	
	font-size: 12pt;
	
}
